*{
    font-family: 'Adamina', serif;
}



#weatherbox{
    display: none;
  
}


#weatherlist{
    list-style: none;
    display: none;
}

#searchHistory{
    display: none;
}

#searchList{
    list-style: none;
}


