*{
    font-family: 'Adamina', serif;
}



#weatherbox{
    display: none;
  
}


#weatherlist{
    list-style: none;
    display: none;
}

#searchHistory{
    display: none;
}

#searchList{
    list-style: none;
}

#fiveDay{
    display: none;
}


.container{
    margin-left: 40px;
    margin-right: 40px;
}